<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="products">Products</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h2>Welcome to Flask</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus deserunt et expedita facere id iste,
        molestiae numquam provident quas quos repudiandae sed sit tenetur totam unde vero, voluptas voluptatibus
        voluptatum!
    </p>

    <img src="pic.jpg" alt="cool park" height="300px" width="400px">

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus deserunt et expedita facere id iste,
        molestiae numquam provident quas quos repudiandae sed sit tenetur totam unde vero, voluptas voluptatibus
        voluptatum!
    </p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus deserunt et expedita facere id iste,
        molestiae numquam provident quas quos repudiandae sed sit tenetur totam unde vero, voluptas voluptatibus
        voluptatum!
    </p>
</div>
</body>
</html>