<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="/static/css/bootstrap.css">
    <title>Products</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li class="active"><a href="">Products</a></li>
        </ul>
    </div>
</nav>
    <div class="container">
        <h2>Our products</h2>
        <ul class="list-group">
            <li class="list-group-item">Unga</li>
            <li class="list-group-item">Maize</li>
            <li class="list-group-item">Sugar</li>
            <li class="list-group-item">Rice</li>
            <li class="list-group-item">Oil</li>
        </ul>
    </div>
</body>
</html>