<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
<a type="button" href="/logout" class="btn btn-danger">Sign out</a>
<h2 class="text-primary">You are logged in as {{ names }}</h2>
<p class="jumbotron">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate deleniti eaque earum iusto mollitia
    necessitatibus nostrum, nulla perferendis quas, quis, quo reprehenderit rerum sit suscipit velit! Eveniet odit
    quia vero.
</p>
</body>
</html>