<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>

    <ul class="nav nav-tabs">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/display">Display Details</a></li>
    </ul>

    <div class="container" >
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <form action="" method="post" role="form">
                    <div class="form-group">
                        <input type="text" name="make" placeholder="make" class="form-control" required>
                    </div>
                    <div class="form-group">
                         <input type="text" name="model" placeholder="model" class="form-control" required >
                    </div>
                    <div class="form-group">
                         <input type="text" name="color" placeholder="color" class="form-control" required>
                    </div>
                    <div class="form-group">
                         <input type="number" name="price" placeholder="price" class="form-control" required>
                    </div>
                    <button class="btn btn-primary btn-block">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>